                    <div class="card" style="">
                      <canvas id="vtt_captcha" style="width:100%;" width="680" height="460" rel="{{ uuid }}"></canvas>
                      <div class="card-body">
                        <h5 class="card-title">{{ ques }}</h5>
                        <p class="card-text">请您帮助我们完成人机验证<a href="#" class="btn float-right">为什么要这样?</a></p>
                   
                        <input type="text" style="display: none;" class="form-control" id="captcha_x" name="captcha_x" value="" required>
                        <input type="hidden" class="form-control" id="captcha_y" name="captcha_y" value="" >
                        <div class="invalid-feedback">请您完成验证</div>
                      </div>
	            </div>
